body{
    display: block;
    margin: 0px;
    background-color: blue;
}

h1{
    background-color: aqua;
    display: block;
    margin: 0;
    padding: 10px;
    border-color: blue;
    border-radius: 5%;
}

.container{
    display: block;
    background-color: blue;
    color: black;
    font-size: 100px;
    font-weight: bold;
    text-align: center;

}